doctype html
html
  head
    title Página web en mantenimiento
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='Ejemplo práctico de aplicación del posicionamiento fijo')
    meta(name='author' content='francesc ricart')
    //link(rel='stylesheet' href='https://unpkg.com/bulma@0.9.1/css/bulma.min.css')            
    //link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')    
    link(rel="stylesheet", href="/stylesheets/costruccion.css")
    
      
  body

    .mantenimiento
      h1 Temperatura y Humedad en Tiempo Real
      p
        | El sitio web está actualmente en construcción. Estará en linea pronto. Gracias por su paciencia
